<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/pages/home">
      <img src="img/logotextugabe.png" alt="Logo" />
    </a>

    <div class="navbar-search">
      <app-bilaketa></app-bilaketa>
    </div>

    <div class="navbar-actions">
      <div *ngIf="erabiltzailea">
        <strong>{{ userlog.izena_abizena }}</strong>
        <img
          src="img/notifikazioa.png"
          alt="notifikazioak"
          class="notifikazio-img"
          (click)="ikusiNotfikazioak(userlog.user_id)"
          style="cursor: pointer"
        />
        <button class="sell-btn">Saldu orain</button>
        <button class="logout-btn" (click)="logout()">Itxi saioa</button>
      </div>
      <div *ngIf="!erabiltzailea">
        <a class="action-link" routerLink="/auth/login" style="margin-left: 5px"
          >Logueatu</a
        >
        <span>|</span>
        <a class="action-link" routerLink="/auth/register">Erregistratu</a>
      </div>
      <app-hizkuntza-select></app-hizkuntza-select>
    </div>
  </div>

  <div class="navbar-categories">
    <a routerLink="/pages/home">Hasiera</a>
    <a routerLink="/pages/komunitatea">Komunitatea</a>
    <a routerLink="/pages/profile">Profila</a>
  </div>
</nav>
