* {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #388e3c;
  border-radius: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 40px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-link {
  color: #253025;
  text-decoration: none;
  font-weight: bold;
}

.action-link:hover {
  text-decoration: underline;
}

.sell-btn {
  background-color: #233523;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.sell-btn:hover {
  background-color: #365336;
}

.navbar-categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #388e3c;
  font-size: 18px;
  border-radius: 20px;
}

.navbar-categories a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-weight: bold;
}

.navbar-categories a:hover {
  text-decoration: underline;
}
