* {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #388e3c;
  border-radius: 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 40px;
}

.navbar-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 0 10px;
  flex-wrap: wrap;
}

.navbar-actions strong {
  color: #000000;
  margin-right: 8px;
}

.notifikazio-img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

.sell-btn {
  background-color: #0077cc;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  margin-left: 7px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sell-btn:hover {
  background-color: #005fa3;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}

.action-link {
  color: #0077cc;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.action-link:hover {
  color: #005fa3;
}

.navbar-actions span {
  color: #999;
  font-size: 14px;
}


.action-link {
  color: #253025;
  text-decoration: none;
  font-weight: bold;
}

.action-link:hover {
  text-decoration: underline;
}

.sell-btn {
  background-color: #233523;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.sell-btn:hover {
  background-color: #365336;
}

.navbar-categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #388e3c;
  font-size: 18px;
  border-radius: 20px;
}

.navbar-categories a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-weight: bold;
}

.navbar-categories a:hover {
  text-decoration: underline;
}
