<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/pages/home">
      <img src="img/logotextugabe.png" alt="Logo" />
    </a>

    <div class="navbar-search">
      <app-bilaketa></app-bilaketa>
    </div>

    <div class="navbar-actions">
      <a class="action-link" routerLink="/pages/register">Erregistratu</a>
      <span>|</span>
      <a class="action-link" routerLink="/pages/login">Logueatu</a>
      <button class="sell-btn">Saldu orain</button>
      <app-hizkuntza-select></app-hizkuntza-select>
    </div>
  </div>

  <div class="navbar-categories">
    <a routerLink="/pages/home">Hasiera</a>
    <a routerLink="/pages/komunitatea">Komunitatea</a>
    <a routerLink="/pages/profile">Profila</a>
  </div>
</nav>
